# Generals
.DS_Store
.idea
*.iml

# Deps
vendor/**

# Temporary files
tmp/

# Build releases
release-*/**
*.tgz

# PKI
*.bin
*.crt
*.csr
*.cer
*.pem
*.key
!**/testdata/*.cer
!**/testdata/*.pem

# Secret data
secret*

# protobuf / RPC
*.swagger.json

# Build
/bryk-did
/bryk-did-*
/didctl
/didctl-*

# Default agent data store
data
