# Generals
.DS_Store
.idea
*.iml

# Deps
vendor/**

# Temporary files
tmp/

# Build releases
dist
*.tgz

# PKI
*.bin
*.crt
*.csr
*.cer
*.pem
*.key
!**/testdata/*.cer
!**/testdata/*.pem

# Secret data
secret*

# protobuf / RPC
# *.swagger.json

# Build
/didctl
/didctl-*

# Default agent data store
data

# Code coverage reports
coverage.*
